

DATABASE_URL="postgresql://<username>:<password>@localhost:5432/doict"

PORT=4000

JWT_SECRET=sdjbfnuiweuiojeijdmxxbudbxbbxxjknfuqdkjonweijndienwo
JWT_EXPIRES_IN=7d

BASE_URL=http://localhost:3000
NODE_ENV=development
# NODE_ENV=production